<pre class="line-numbers"><code class="language-markup"><div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">
                Nom de mon site
            </a>
            <nav class="nav-collapse" role="navigation">
                <ul class="nav">
                    <li><a href="#">Lien #1</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Lien #2 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Lien #2-a</a></li>
                            <li><a href="#">Lien #2-b</a></li>
                            <li><a href="#">Lien #2-c</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Lien #3</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Lien #4</a></li>
                </ul>
            </nav>
        </div><!-- end of .container -->
    </div><!-- end of .navbar-inner -->
</div><!-- end of .navbar .navbar -->