
<html >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <script src="js/libs/angular/angular.min.js"></script>
    <script src="js/libs/angular-route/angular-route.min.js"></script>
    <script src="js/libs/angular-resource/angular-resource.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="js/Application.js"></script>
    <script src="js/UserSRV.js"></script>
    <script src="js/loginCtrl.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>

<body ng-app="monApp">
<div id="pageHeader">
    <h1>Todo.ng</h1>
    <div id="userBlock" ng-controller="LoginCtrl">
        <form id="userLogin" ng-submit="login()">
            <input ng-model="username" type="text" class="loginforminput"/><br>
            <input ng-model="password" type="password" class="loginforminput"/><br>
            <input type="submit" value="Login" class="button"/><br>
            <span id="loginAlert"></span>
        </form>
        <div id="userInfo" hidden>Bienvenue {{username}} !
            <button ng-click="logout()" type="button" class="button">Logout</button>
        </div>
    </div>
</div>
<div id="pageBody">
    <div ng-view></div>
</div>

</body>
</html>